html {
  padding-top: 16px;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #FBFBFB;
}

body {
  background-color: #FBFBFB;
}

#img-hand {
    z-index: 1;
    position:static;
    margin-bottom: 24px;
}

.controllerButton {
    z-index: 99;
}
